--><div class="tb-card">

  <div class="tb-card-header">
    <h1>Add Drinks</h1>
    <div class="tb-card-header-option-left">
      <a href="#" ns-slider-page="3">Back</a>
    </div>
    <!-- .tb-card-header-option-left -->
    <div class="tb-card-header-option-right">
      Sort By
    </div>
    <!-- .tb-card-header-option-right -->
  </div>
  <!-- .tb-card-header -->

  <div class="tb-card-content" style="height: 643px;">

    <div class="tb-list-panel">
      <strong>Running Total:</strong>
      <span class="tb-cart-total">$0.00</span>
      <p>In the next step you will review the list of drinks you have ordered for your table.</p>
      <a href="#" ns-slider-page="5" class="tb-button tb-button-cta">Review Order</a>
    </div>
    <!-- .tb-list-panel -->

    <script>
    $(document).ready(function(){
      $("#tb-shopping-cart li i").click(function(){
        var text = $(this).text();
        var target = $(this).parent().find("input").eq(0);
        var value = target.val();
        if( value != null && value != '' ) value = parseInt( value );
        else value = 0;

        if( text == "+" ){
          target.val( value + 1 );
        }else{
          if( value >= 0 ) target.val( value - 1 );
        }
        recalculateTotal();
      });
      recalculateTotal();
    });

    function recalculateTotal(){
      var cart = [];
      var total = 0;
      $("#tb-shopping-cart li").each(function(k, v){

        var thing = $(this).find("h4").text();
        var cost = parseFloat( $(this).find("h5").text().replace("$", "") );
        var count = parseInt( $(this).find("input").val() );
        if( isNaN(count) ) count = 0;

        cart.push({
          item: thing,
          value: cost,
          count: count
        });
        total += (count * cost );

        var echo = $("#tb-shopping-cart-echo li").eq(k);
        if( count > 0 ) echo.show();
        else echo.hide();
        echo.find("input").val( count );

      });
      $.cookie("shopping_cart", cart);
      global_cart = cart;
      $(".tb-cart-total").text( "$" + total );
    }
    </script>
    
    <ul id="tb-shopping-cart" class="tb-detail-list">
      <li>
        <a class="tb-detail-list-thumbnail" href="#">
          <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
        </a>
        <div class="tb-detail-list-info">
          <h4>Dom Perignon</h4>
          <h5><span>$950.00</span></h5>
        </div>
        <!-- .tb-detail-list-info -->
        <div class="tb-detail-list-action" href="#">
          <i class="ss-icon">-</i>
          <input type="text" placeholder="0" />
          <i class="ss-icon">+</i>
        </div>
        <!-- .tb-detail-list-action -->
      </li>
      <li>
        <a class="tb-detail-list-thumbnail" href="#">
          <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
        </a>
        <div class="tb-detail-list-info">
          <h4>Veuve Clicquot</h4>
          <h5><span>$950.00</span></h5>
        </div>
        <!-- .tb-detail-list-info -->
        <div class="tb-detail-list-action" href="#">
          <i class="ss-icon">-</i>
          <input type="text" placeholder="0" />
          <i class="ss-icon">+</i>
        </div>
        <!-- .tb-detail-list-action -->
      </li>
      <li>
        <a class="tb-detail-list-thumbnail" href="#">
          <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
        </a>
        <div class="tb-detail-list-info">
          <h4>Armand de Brignac</h4>
          <h5><span>$950.00</span></h5>
        </div>
        <!-- .tb-detail-list-info -->
        <div class="tb-detail-list-action" href="#">
          <i class="ss-icon">-</i>
          <input type="text" placeholder="0" />
          <i class="ss-icon">+</i>
        </div>
        <!-- .tb-detail-list-action -->
      </li>
      <li>
        <a class="tb-detail-list-thumbnail" href="#">
          <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
        </a>
        <div class="tb-detail-list-info">
          <h4>Bollinger</h4>
          <h5><span>$950.00</span></h5>
        </div>
        <!-- .tb-detail-list-info -->
        <div class="tb-detail-list-action" href="#">
          <i class="ss-icon">-</i>
          <input type="text" placeholder="0" />
          <i class="ss-icon">+</i>
        </div>
        <!-- .tb-detail-list-action -->
      </li>
      <li>
        <a class="tb-detail-list-thumbnail" href="#">
          <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
        </a>
        <div class="tb-detail-list-info">
          <h4>Perrior Jouet</h4>
          <h5><span>$950.00</span></h5>
        </div>
        <!-- .tb-detail-list-info -->
        <div class="tb-detail-list-action" href="#">
          <i class="ss-icon">-</i>
          <input type="text" placeholder="0" />
          <i class="ss-icon">+</i>
        </div>
        <!-- .tb-detail-list-action -->
      </li>
      <li>
        <a class="tb-detail-list-thumbnail" href="#">
          <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
        </a>
        <div class="tb-detail-list-info">
          <h4>Cristal</h4>
          <h5><span>$950.00</span></h5>
        </div>
        <!-- .tb-detail-list-info -->
        <div class="tb-detail-list-action" href="#">
          <i class="ss-icon">-</i>
          <input type="text" placeholder="0" />
          <i class="ss-icon">+</i>
        </div>
        <!-- .tb-detail-list-action -->
      </li>
      <li>
        <a class="tb-detail-list-thumbnail" href="#">
          <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
        </a>
        <div class="tb-detail-list-info">
          <h4>Krug</h4>
          <h5><span>$950.00</span></h5>
        </div>
        <!-- .tb-detail-list-info -->
        <div class="tb-detail-list-action" href="#">
          <i class="ss-icon">-</i>
          <input type="text" placeholder="0" />
          <i class="ss-icon">+</i>
        </div>
        <!-- .tb-detail-list-action -->
      </li>
      <li>
        <a class="tb-detail-list-thumbnail" href="#">
          <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
        </a>
        <div class="tb-detail-list-info">
          <h4>Moet &amp; Chandon</h4>
          <h5><span>$950.00</span></h5>
        </div>
        <!-- .tb-detail-list-info -->
        <div class="tb-detail-list-action" href="#">
          <i class="ss-icon">-</i>
          <input type="text" placeholder="0" />
          <i class="ss-icon">+</i>
        </div>
        <!-- .tb-detail-list-action -->
      </li>
      <li>
        <a class="tb-detail-list-thumbnail" href="#">
          <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
        </a>
        <div class="tb-detail-list-info">
          <h4>Piper Heidseick</h4>
          <h5><span>$950.00</span></h5>
        </div>
        <!-- .tb-detail-list-info -->
        <div class="tb-detail-list-action" href="#">
          <i class="ss-icon">-</i>
          <input type="text" placeholder="0" />
          <i class="ss-icon">+</i>
        </div>
        <!-- .tb-detail-list-action -->
      </li>
      <li>
        <a class="tb-detail-list-thumbnail" href="#">
          <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
        </a>
        <div class="tb-detail-list-info">
          <h4>Salon</h4>
          <h5><span>$950.00</span></h5>
        </div>
        <!-- .tb-detail-list-info -->
        <div class="tb-detail-list-action" href="#">
          <i class="ss-icon">-</i>
          <input type="text" placeholder="0" />
          <i class="ss-icon">+</i>
        </div>
        <!-- .tb-detail-list-action -->
      </li>
      <li>
        <a class="tb-detail-list-thumbnail" href="#">
          <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
        </a>
        <div class="tb-detail-list-info">
          <h4>Dom Perignon</h4>
          <h5><span>$950.00</span></h5>
        </div>
        <!-- .tb-detail-list-info -->
        <div class="tb-detail-list-action" href="#">
          <i class="ss-icon">-</i>
          <input type="text" placeholder="0" />
          <i class="ss-icon">+</i>
        </div>
        <!-- .tb-detail-list-action -->
      </li>
      <li>
        <a class="tb-detail-list-thumbnail" href="#">
          <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
        </a>
        <div class="tb-detail-list-info">
          <h4>Dom Perignon</h4>
          <h5><span>$950.00</span></h5>
        </div>
        <!-- .tb-detail-list-info -->
        <div class="tb-detail-list-action" href="#">
          <i class="ss-icon">-</i>
          <input type="text" placeholder="0" />
          <i class="ss-icon">+</i>
        </div>
        <!-- .tb-detail-list-action -->
      </li>
    </ul>
    <!-- .tb-detail-list -->

  </div>
  <!-- .tb-card-content -->

</div><!--