--><div class="tb-card">

  <div class="tb-card-header">
    <h1>Club Information &amp; Booking</h1>
    <div class="tb-card-header-option-left">
      <a href="#" ns-slider-page="0">Back</a>
    </div>
    <!-- .tb-card-header-option-left -->
    <div class="tb-card-header-option-right">
    </div>
    <!-- .tb-card-header-option-right -->
  </div>
  <!-- .tb-card-header -->
      <div id="tb-club">
        <div id="tb-club-banner">
          <h3>Opera Nightclub</h3>
          <i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i>
          <div class="tb-club-go-left">
            <i class="ss-icon">◅</i>
          </div>
          <!-- .tb-club-go-left -->
          <div class="tb-club-go-right">
            <i class="ss-icon">▻</i>
          </div>
          <!-- .tb-club-go-right -->
        </div>
        <!-- #tb-club-banner -->
        <img src="<%= asset_path "club-opera.jpg" %>" />
      </div>
      <!-- #tb-club -->

      <h2 class="tb-section-header">Promoters for Opera</h2><!-- .tb-section-header -->

      <div class="tb-card-content" style="height: 441px;">

        <ul class="tb-detail-list">
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-8.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Gabe Walker</h4>
              <h5><i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <a class="tb-button tb-button-small"  ns-slider-page="2">Reserve Table</a>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Melody Ledoux</h4>
              <h5><i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <a class="tb-button tb-button-small"  ns-slider-page="2">Reserve Table</a>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-2.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Jeanette Williams</h4>
              <h5><i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <a class="tb-button tb-button-small"  ns-slider-page="2">Reserve Table</a>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-6.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Mike Felton</h4>
              <h5><i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <a class="tb-button tb-button-small"  ns-slider-page="2">Reserve Table</a>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-7.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Trent Grayson</h4>
              <h5><i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <a class="tb-button tb-button-small"  ns-slider-page="2">Reserve Table</a>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-5.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Samantha Katz</h4>
              <h5><i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <a class="tb-button tb-button-small"  ns-slider-page="2">Reserve Table</a>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-3.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Sean Pearsall</h4>
              <h5><i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <a class="tb-button tb-button-small"  ns-slider-page="2">Reserve Table</a>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-4.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Greg Newton</h4>
              <h5><i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <a class="tb-button tb-button-small"  ns-slider-page="2">Reserve Table</a>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
        </ul>
        <!-- .tb-detail-list -->

      </div>
      <!-- .tb-card-content -->

</div><!--
