<nav>
  <ul>
    <li class="gp-step-current">&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
    <li>&nbsp;</li>
  </ul>
</nav>



<div id="gp-content-container">

  <div id="gp-content">

    <form id="p-form">
      <ul id="p-slider">
        <%= render "step1" %>
        <%= render "step2" %>
        <%= render "step3" %>
        <%= render "step4" %>
        <%= render "step5" %>
      </ul>
    </form>

  </div>
  <!-- #gp-content -->

</div>
<!-- #gp-content-container -->