<div id="tb-wrapper">

  <nav>
    <div id="tb-menu-expander">
    </div>
    <!-- #tb-menu-expander -->
    <div id="tb-options">
      Options
    </div>
    <!-- #tb-menu -->
  </nav>

  <h1>Tables</h1>

  <div id="tb-card-holder">
    <div class="tb-card">

      <div class="tb-card-header">
        <h1>Club Information &amp; Booking</h1>
        <div class="tb-card-header-option-left">
          Back
        </div>
        <!-- .tb-card-header-option-left -->
        <div class="tb-card-header-option-right">
        </div>
        <!-- .tb-card-header-option-right -->
      </div>
      <!-- .tb-card-header -->

      <div id="tb-club">
        <div id="tb-club-banner">
          <h3>Opera Nightclub</h3>
          <i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i>
          <div class="tb-club-go-left">
            <i class="ss-icon">◅</i>
          </div>
          <!-- .tb-club-go-left -->
          <div class="tb-club-go-right">
            <i class="ss-icon">▻</i>
          </div>
          <!-- .tb-club-go-right -->
        </div>
        <!-- #tb-club-banner -->
        <img src="<%= asset_path "club-opera.jpg" %>" />
      </div>
      <!-- #tb-club -->

      <h2 class="tb-section-header">Promoters for Opera</h2><!-- .tb-section-header -->

      <div class="tb-card-content" style="height: 441px;">

        <ul class="tb-detail-list">
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Jeanette Williams</h4>
              <h5><i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <a class="tb-button tb-button-small" href="/step03">Reserve Table</a>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Jeanette Williams</h4>
              <h5><i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <a class="tb-button tb-button-small" href="/step03">Reserve Table</a>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Jeanette Williams</h4>
              <h5><i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <a class="tb-button tb-button-small" href="/step03">Reserve Table</a>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Jeanette Williams</h4>
              <h5><i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <a class="tb-button tb-button-small" href="/step03">Reserve Table</a>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Jeanette Williams</h4>
              <h5><i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <a class="tb-button tb-button-small" href="/step03">Reserve Table</a>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Jeanette Williams</h4>
              <h5><i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <a class="tb-button tb-button-small" href="/step03">Reserve Table</a>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Jeanette Williams</h4>
              <h5><i class="ss-icon">⋆ ⋆ ⋆ ⋆ ⋆</i></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <a class="tb-button tb-button-small" href="/step03">Reserve Table</a>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
        </ul>
        <!-- .tb-detail-list -->

      </div>
      <!-- .tb-card-content -->

    </div>
    <!-- .tb-card -->
  </div>
  <!-- #tb-card-holder -->

</div>
<!-- #tb-wrapper -->



