<div id="tb-wrapper">

  <nav>
    <div id="tb-menu-expander">
    </div>
    <!-- #tb-menu-expander -->
    <div id="tb-options">
      Options
    </div>
    <!-- #tb-menu -->
  </nav>

  <h1>Tables</h1>

  <div id="tb-card-holder">
    <div class="tb-card">

      <div class="tb-card-header">
        <h1>Add Drinks</h1>
        <div class="tb-card-header-option-left">
          Back
        </div>
        <!-- .tb-card-header-option-left -->
        <div class="tb-card-header-option-right">
          Sort By
        </div>
        <!-- .tb-card-header-option-right -->
      </div>
      <!-- .tb-card-header -->

      <div class="tb-card-content" style="height: 945px;">
        
        <ul class="tb-detail-list">
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Dom Perignon</h4>
              <h5><span>$950.00</span></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <i class="ss-icon">-</i>
              <input type="text" placeholder="0" />
              <i class="ss-icon">+</i>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Veuve Clicquot</h4>
              <h5><span>$950.00</span></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <i class="ss-icon">-</i>
              <input type="text" placeholder="0" />
              <i class="ss-icon">+</i>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Armand de Brignac</h4>
              <h5><span>$950.00</span></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <i class="ss-icon">-</i>
              <input type="text" placeholder="0" />
              <i class="ss-icon">+</i>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Bollinger</h4>
              <h5><span>$950.00</span></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <i class="ss-icon">-</i>
              <input type="text" placeholder="0" />
              <i class="ss-icon">+</i>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Perrior Jouet</h4>
              <h5><span>$950.00</span></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <i class="ss-icon">-</i>
              <input type="text" placeholder="0" />
              <i class="ss-icon">+</i>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Cristal</h4>
              <h5><span>$950.00</span></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <i class="ss-icon">-</i>
              <input type="text" placeholder="0" />
              <i class="ss-icon">+</i>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Krug</h4>
              <h5><span>$950.00</span></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <i class="ss-icon">-</i>
              <input type="text" placeholder="0" />
              <i class="ss-icon">+</i>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Moet &amp; Chandon</h4>
              <h5><span>$950.00</span></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <i class="ss-icon">-</i>
              <input type="text" placeholder="0" />
              <i class="ss-icon">+</i>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Piper Heidseick</h4>
              <h5><span>$950.00</span></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <i class="ss-icon">-</i>
              <input type="text" placeholder="0" />
              <i class="ss-icon">+</i>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Salon</h4>
              <h5><span>$950.00</span></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <i class="ss-icon">-</i>
              <input type="text" placeholder="0" />
              <i class="ss-icon">+</i>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Dom Perignon</h4>
              <h5><span>$950.00</span></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <i class="ss-icon">-</i>
              <input type="text" placeholder="0" />
              <i class="ss-icon">+</i>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
          <li>
            <a class="tb-detail-list-thumbnail" href="#">
              <img src="<%= asset_path "promoter-thumb-1.jpg" %>" />
            </a>
            <div class="tb-detail-list-info">
              <h4>Dom Perignon</h4>
              <h5><span>$950.00</span></h5>
            </div>
            <!-- .tb-detail-list-info -->
            <div class="tb-detail-list-action" href="#">
              <i class="ss-icon">-</i>
              <input type="text" placeholder="0" />
              <i class="ss-icon">+</i>
            </div>
            <!-- .tb-detail-list-action -->
          </li>
        </ul>
        <!-- .tb-detail-list -->

      </div>
      <!-- .tb-card-content -->

    </div>
    <!-- .tb-card -->
  </div>
  <!-- #tb-card-holder -->

</div>
<!-- #tb-wrapper -->



